In [1]:
csv_list = open("US_births_1994-2003_CDC_NCHS.csv").read().split("\n")

In [2]:
csv_list[0:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [3]:
def read_csv(file_name):
    string_data = open(file_name).read()
    string_list = string_data.split("\n")[1:]
    final_list = []
    for string in string_list:
        string_fields = string.split(",")
        int_fields = []
        for value in string_fields:
            int_fields.append(int(value))
        final_list.append(int_fields)
    return final_list

In [4]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")

cdc_list[:40]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498],
 [1994, 1, 11, 2, 11706],
 [1994, 1, 12, 3, 11567],
 [1994, 1, 13, 4, 11212],
 [1994, 1, 14, 5, 11570],
 [1994, 1, 15, 6, 8660],
 [1994, 1, 16, 7, 8123],
 [1994, 1, 17, 1, 10567],
 [1994, 1, 18, 2, 11541],
 [1994, 1, 19, 3, 11257],
 [1994, 1, 20, 4, 11682],
 [1994, 1, 21, 5, 11811],
 [1994, 1, 22, 6, 8833],
 [1994, 1, 23, 7, 8310],
 [1994, 1, 24, 1, 11125],
 [1994, 1, 25, 2, 11981],
 [1994, 1, 26, 3, 11514],
 [1994, 1, 27, 4, 11702],
 [1994, 1, 28, 5, 11666],
 [1994, 1, 29, 6, 8988],
 [1994, 1, 30, 7, 8096],
 [1994, 1, 31, 1, 10765],
 [1994, 2, 1, 2, 11755],
 [1994, 2, 2, 3, 11483],
 [1994, 2, 3, 4, 11523],
 [1994, 2, 4, 5, 11677],
 [1994, 2, 5, 6, 8991],
 [1994, 2, 6, 7, 8309],
 [1994, 2, 7, 1, 10984],
 [1994, 2, 8, 2, 12152],
 [1994, 2, 9, 3, 11515]]

In [5]:
def months_births(data):
    births_per_month = {}
    for row in data:
        births = row[4]
        month = row[1]
        if month not in births_per_month:
            births_per_month[month] = births
        else:
            births_per_month[month] += births
    return births_per_month

In [6]:
cdc_month_births = months_births(cdc_list)

cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [7]:
def dow_births(data):
    births_per_dow = {}
    for row in data:
        births = row[4]
        dow = row[3]
        if dow not in births_per_dow:
            births_per_dow[dow] = births
        else:
            births_per_dow[dow] += births
    return births_per_dow

In [8]:
cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [9]:
def calc_counts(data, column):
    births_per_col = {}
    for row in data:
        births = row[4]
        col = row[column]
        if col not in births_per_col:
            births_per_col[col] = births
        else:
            births_per_col[col] += births
    return births_per_col

In [10]:
cdc_year_births = calc_counts(cdc_list, 0)
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [11]:
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [13]:
def min_max_calc(data):
    min_value = 0
    max_value = 0
    print(min_value, max_value)
    for key, value in data.items():
        if value > max_value:
            max_value = value
        if value < min_value:
            min_value = value
    return min_value, max_value

In [22]:
def min_max(data): 
    min_value = data[1] 
    max_value = data[1] 
    for key, value in data.items(): 
        if value > max_value: 
            max_value = value 
        if value < min_value:
            min_value = value
    return min_value, max_value
            
            

births_dom = min_max(cdc_dom_births)
print(births_dom)

(746696, 1326855)